div.container {
  height: 100%;
  width: 80%;
  background-color: white;
  position: absolute;
  z-index: 1;
}

table#game-grid {
  height: 100%;
  width: 80%;
  z-index: 5;
}

td.player {
  background-image: url('http://2.bp.blogspot.com/-xbfpggNA6iU/UvwAer0QKII/AAAAAAAAAGA/cKpUb3nXZpE/s1600/SpaceShipStill.png');
  background-repeat: no-repeat;
  background-color: white;
  /*position: absolute;*/
  z-index: 10;
  background-position: 2em 2em;
}

td.cell {
  height: 50px;
  width: 50px;
  border: 5px solid black;
}

td.bullet {
  background-image: url('https://donaldcarling.files.wordpress.com/2016/03/general-bullet.png?w=417&h=269&crop=1');
  background-repeat: no-repeat;
  background-color: white;
  z-index: 10;
}
